<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Feedback geben und mitgestalten!</h2>
                    <h3 class="section-subheading text-muted">Von Beginn an mitgestalten - übermitteln Sie hier Ihre Wünsche und Anregungen und registrieren Sie sich für mehr Informationen.</h3>
                    <a href="https://share.hsforms.com/1ufYF8xclTuOl3Ta1La6VFgc0w06" class="page-scroll btn btn-xl">Zum Formular</a>
                    <h3 class="section-subheading text-muted">Rückfragen: office@gelb.cc, +43 699 18084401<br>
                    Impressum: Markus Kienast, Kreuzberg 298, 3920 Groß Gerungs</h3>
                </div>
            </div>
        </div>
    </section>
