<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img class="menulogo" src="img/logos/gelb_v3.png" alt="Logo - GELB - Gemeinschaft der Listen und der Bünde"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#prinzipien">Prinzipien</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#manifest">Manifest</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Mitgestalten</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><img class="mainlogo" src="img/logos/gelb_v3.png" alt="Logo - GELB - Gemeinschaft der Listen und der Bünde"></div>
                <div class="intro-heading"><span class="text-highlight">GE</span>meinschaft der <span class="text-highlight">L</span>isten und der <span class="text-highlight">B</span>ünde</div>
                <a href="#prinzipien" class="page-scroll btn btn-xl">Mehr erfahren</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

