<!-- Services Section -->
    <section id="manifest">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Manifest</h2>
                    <h3 class="section-subheading text-muted">Das Manifest gießt die Grundprinzipien von GELB in ein Organisationsmodell, ausgelegt auf Klarheit, Schlankheit und darauf, dass alle Macht immer bei den einzelnen Mitgliedern liegt.</h3>
                    <div class="section-subheading"><a href="/assets/downloads/GELB_Manifest_www.gelb.cc_2021-06-20_Feedback.pdf" class="page-scroll btn btn-xl">Manifest downloaden</a></div>
                </div>
            </div>
        </div>
    </section>