<!-- Services Section -->
    <section id="prinzipien">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Prinzipien</h2>
                    <h3 class="section-subheading text-muted">Das Experiment “Bürgerlisten OÖ” hat gezeigt, dass es für eine Zusammenarbeit unabhängiger Listen ein starkes Regelwerk braucht, das der Diversität unter den Listen Rechnung trägt. Leitbild für dieses Regelwerk sind die folgenden drei Grundprinzipien.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Unabhängigkeit der Listen</h4>
                    <p class="text-muted service-text">GELB ist primär parteienrechtliche Verwaltungsstruktur, stellt Ressourcen und Know-How zur Verfügung, ihre Verwaltungsorgane treten aber nicht mit politischen Positionen in Erscheinung. Denn politische Zielsetzung, Ausrichtung und Kommunikation erfolgt ausschließlich und direkt durch die GELB-Mitglieder und deren thematisch spezialisierte Konsensgruppen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pluralitätsprinzip</h4>
                    <p class="text-muted service-text">Die Mitglieder organisieren sich frei und selbstständig zu bestimmten Themenblöcken zu Konsensgruppen. Einzelnen Gruppen können auch zueinander konträre Positionen einnehmen und sowohl nach innen wie auch nach außen um Unterstützung ihrer jeweiligen Agenda werben - Stichwort Pluralitätsprinzip. Es gibt ausdrücklich keinerlei Klubzwang.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Alle Macht geht von den Mitgliedern aus</h4>
                    <p class="text-muted service-text">GELB verschreibt sich einer allumfassenden Kontrolle und Richtungsgebung durch die Mitglieder. Auch Fragen der Projekt-Finanzierung liegen in den Händen der Mitglieder. Hierfür verwaltet jedes Mitglied einen Teil des Kapitals treuhänderisch für GELB, entscheidet also selbst, frei und unabhängig, welche Projekte und Agenden damit finanziert werden sollen.</p>
                </div>
            </div>
        </div>
    </section>