<!-- About Section -->
    <section id="zeitplan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Zeitplan</h2>
                    <h3 class="section-subheading text-muted">Was ist noch bis zur OÖ Wahl 2021 zu tun?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/symbolfotos/pexels-energepiccom-175045.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>In Kürze</h4>
                                    <h4 class="subheading">Gründungsmitglied werden</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">GELB ist von Beginn an ein Gemeinschaftsprojekt, alles wird von der Gemeinschaft beschlossen. Formal entsteht GELB daher auch erst beim Gründungskonvent, durch Beschluss der Satzung, Bestellung eines Aufsichtsrates und eines Geschäftsführers mittels Wahl durch die Gründungsmitglieder. Werden Sie jetzt Gründungsmitglied, damit Sie von Beginn an mitbestimmen können.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/symbolfotos/rear-view-business-executives-show-their-approval-by-raising-hands.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>In Kürze</h4>
                                    <h4 class="subheading">Gründungskonvent</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <ul>
                                            <li>Beschluss der Satzung</li>
                                            <li>Wahl des Aufsichtsrates</li>
                                            <li>Bestellung des Geschäftsführers</li>
                                            <li>Beschluss des Antritts zur Landtagswahl</li>
                                            <li>Themenspezifische Konsengruppen bilden</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/symbolfotos/people-filling-form.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Stichtag: Dienstag, 6. Juli 2021</h4>
                                    <h4 class="subheading">Unterstützungserklärungen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Beginn der Frist für das Sammeln von Unterstützungserklärungen Anleitung und Formulare sollten dann hier zum Download stehen, damit alles rechtskonform abgewickelt werden kann.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/symbolfotos/pexels-asia-culture-center-4940642.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Samstag, 7. August 2021</h4>
                                    <h4 class="subheading">Mitgliederversammlung: Abstimmung zur Erstellung der Reihung der Wahlvorschläge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Der Modus der Listenerstellung ist noch von der Mitgliederversammlung zu beschließen. Dieser wird im Vorfeld von den Mitgliedern erarbeitet und so lange angepasst, bis alle mit diesem Modus leben können.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/symbolfotos/pexels-kelly-lacy-2928232.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dienstag, 10. August 2021</h4>
                                    <h4 class="subheading">47. Tag vor dem Wahltag - Fristende Unterstützungserklärungen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ende der Frist für das Sammeln von Unterstützungserklärungen Ende der Frist für das Einreichen der Wahlvorschläge</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <h4>Der 
                                    <br>WAHLKAMPF
                                    <br>beginnt
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>